@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead d-flex align-items-center">



    <div class="card mb-3">
        <img src="assets/img/lecture-bon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">Gestion Livre</h2><br/>
            <h3 class="mb-5"><em>La lecture est l'apothéose de l'écriture.</em></h3>
            <p class="card-text">Alberto Manguel</p>
        </div>
    </div>
</header>